

/* ------ Cards ------*/
#card{
    background-color: #F2F2F2;
}
.cardsalign {
    border: none;
    margin-bottom: 10px;
    margin-left: none !important;
    margin-right: none !important;
}
.cardsalign p{
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}
.cardsalign a{
    text-decoration: none;
}
.cardsalign a:hover{
    text-decoration: underline;
}
.cardsalign img{
    background-color:#F8F9FA;
}
.mb-4{
    margin-bottom: 1px !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0!important;
    --bs-gutter-y: 0!important;
    width: 100%;
    padding-right: none!important;
    padding-left: none!important;
    margin-right: none!important;
    margin-left: none!important;
}
/* ------ Footer ------*/
#footer{
    color:#555353dc;
    font-size: 13px;
}
#footer h5{
    color: black; 
    font-size: 15px;
}
#footer ul{
    list-style: none;
}
#footer ul li {
    margin-bottom: 5px;
}
#footer ul li a {
color: #424245e6;
text-decoration: none;
}
#footer ul li a:hover{
    text-decoration: underline;
}
#link{
    color:#0066CC;
}
#border{
    margin: 0px 10px;
    border-bottom: 2px solid silver ;
}
#footercontent{
    display: flex;
}
#footercontent a{
    color:#424245e6;
    text-decoration: none;
}
#footercontent a{
    color:#555353dc;
    text-decoration: underline;
}
.last {
    margin-right: auto;
}

/* .accordion-button::after{
float: left;
} */
