*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1:rgba(22, 22, 23, .8);;
}

@font-face {
	font-family:'lato';
	src:url(fonts/Lato-Regular.woff2);
}

.mycol{
    background-color: var(--color1)!important;
}

nav ul li{
    padding: 0px 10px;
    font-family: lato;
}

.lato{
  font-family: 'Montserrat', sans-serif;
}

.gr{
    color: lightgray;
}

.offcanvas {
    background-color: rgb(22, 22, 23);
}

.btn-close {
      color: white;!important;
    --bs-btn-close-bg: 
        none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: none;!important;
    border: none;!important;
    border-color: none;!important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;!important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

h6 {
    font-size: 1rem;
    color: darkgray;!important;
    padding-right: 5px;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-menu{
    border: none;
--bs-dropdown-border-width: none;
    --bs-dropdown-border-color:none;
    
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    background-color: transparent;!important;
}

.dropdown-item {
    color: darkgray;
    padding-left: 120px;
}
.dropdown-item:active {
     color: white;
    text-decoration: none;
     background-color: transparent;!important; 
}

.dropdown-toggle::after {
    display: none;
}

.link-underline{
    text-decoration: none;
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    width: 1800px;
    left: 0px;
    padding: 0px 205px;
   background-color:rgb(22 22 23)!important;
    text-align: right;
    right: -200px;
}
}
@media screen and (max-width: 750px){
    .container-fluid .img{
        display: none;
    }
}
@media screen and (min-width: 750px){
    
    .container-fluid .imgs{
        display: none;
    }
}


/*----end monas part----*/

/*----Nourhan Hany----*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container .image-caption{
    text-align: center;
    width: 48%; 
    margin: 5px;
    position: relative;
} 
.image-container img {
    width: 100%
}
.caption-content{
    position: absolute;
    top: 15px;
    left: 0;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}
.caption-image{
    position: absolute;
    bottom: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
}

.caption-content h2{
    font-size: 40px;
    font-weight: bold;
    
} 
.caption-image h2{
    font-size: 40px;
    font-weight: bold;
}  

.caption-content p{
    font-size: 20px;
    
}
.caption-image p{
    font-size: 25px;

}

.caption-content a{
    text-decoration: underline;
    font-weight: bold;
}



/* ------ Rawan Hosny ------*/
/* ------ Cards ------*/
#card{
    background-color: #F2F2F2;
}
.cardsalign {
    border: none;
    margin-bottom: 10px;
    margin-left: none !important;
    margin-right: none !important;
}
.cardsalign p{
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}
.cardsalign a{
    text-decoration: none;
}
.cardsalign a:hover{
    text-decoration: underline;
}
.cardsalign img{
    background-color:#F8F9FA;
}
.mb-4{
    margin-bottom: 1px !important;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0!important;
    --bs-gutter-y: 0!important;
    width: 100%;
    padding-right: none!important;
    padding-left: none!important;
    margin-right: none!important;
    margin-left: none!important;
}
/* ------ Footer ------*/
#footer{
    color:#555353dc;
    font-size: 13px;
}
#footer h5{
    color: black; 
    font-size: 15px;
}
#footer ul{
    list-style: none;
}
#footer ul li {
    margin-bottom: 5px;
}
#footer ul li a {
color: #424245e6;
text-decoration: none;
}
#footer ul li a:hover{
    text-decoration: underline;
}
#link{
    color:#0066CC;
}
#border{
    margin: 0px 10px;
    border-bottom: 2px solid silver ;
}
 #footercontent{
    display: flex;
}
 #footercontent a{
    color:#424245e6;
    text-decoration: none;
}
#footercontent a:hover{
    color:#555353dc;
    text-decoration: underline;
}
.last {
    margin-right: auto;
}
/* ------ Accordion ------*/
.accordion-button::after {
  width: 0px;
  height: 0px;

}
.accordion-item{
padding: 0px 10px !important;
border: none !important;
border-bottom: 1px solid silver !important;
}
.accordion{
    background-color:#F5F5F7 ;
}
  .accordion-button.collapsed::before {
    content: "+";
    float: right;
    margin-left: 5px;
    font-size: 18px;
  }
  .accordion-button::after {
    width:0 !important;
    height: 0 !important;
    
}
  /* ------ Media Query ------*/
@media (max-width: 900px) {
    #mobile-footer-content {
        text-align: center;
        margin-top: 20px;
    }

    #mobile-footer-content #footercontent {
        display: block;
    }

    #mobile-footer-content #footercontent p,
    #mobile-footer-content #footercontent a,
    #mobile-footer-content #footercontent .last {
        display: inline-block; 
        margin-right: 10px; 
    }

    #mobile-footer-content i {
        display: none;
    }

    #link3, #link4,.l4,.last ,.borderfo{
        display: none;
    }
}
/* ------ End ------*/
